<body>
  <section class="about" id="about">
    <h1 class="heading">about <span>me</span></h1>

    <div class="row">
      <div class="content">
        <h3>Elevating Your Digital Experience with Passion</h3>
        <p>
          I am a Junior Front End Developer with a strong passion for creating
          user-friendly interfaces. My educational background in programming,
          along with my recent certification, has equipped me with the skills
          necessary for web development. I am eager to actively contribute to
          projects and remain constantly open to learning and growing.
        </p>
        <a href="#contact" class="btn">reach me</a>
      </div>
    </div>
  </section>
</body>
