<section class="contact" id="contact">
    <h1 class="heading">contact <span>me</span></h1>

    <form [formGroup]="emailForm">
        <div class="inputBox">
            <input type="text" placeholder="name" #name>
            <input type="email" placeholder="email" #email>
        </div>

        <textarea name id cols="30" rows="10" placeholder="message" #message></textarea>
        <input type="submit" class="btn" value="send message" (click)="sendEmail(name.value, email.value, message.value)">
    </form>
</section>