<body>
  <section class="home" id="home">
    <div class="content">
      <h3>Welcome on my <span>Portfolio</span> <br /></h3>
      <a
        href="https://www.linkedin.com/in/y1lmaz-ahmet"
        target="_blank"
        class="btn"
        style="margin-right: 15px"
        >linkedIn</a
      >
      <a
        href="../../assets/CV-Yilmaz_Ahmet.pdf"
        target="_blank"
        class="btn"
        style="margin-right: 15px"
        >CV</a
      >
      <a href="https://github.com/Y1lmaz-Ahmet" target="_blank" class="btn"
        >Github</a
      >
    </div>
  </section>
</body>
